body {
    display: flex;
    flex-direction: column;
    background-position: 0.5vw;
}

h1, h2, form {
    text-align: center;
}

.weather {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 60vw;
    margin: 20px;
    font-size: 20px;
}

#current-temp {
    grid-area: 1 / 1 / 1 / 2;
}

#min-temp {
    grid-area: 1 / 2 / 1 / 2;
}

#max-temp {
    grid-area: 1 / 3 / 1 / 3;
}

#status {
    grid-area: 2 / 1 / 6 / 1;
}

#wind-speed {
    grid-area: 3 / 1 / 3 / 1;
}

#wind-direction {
    grid-area: 3 / 2 / 3 / 3;
}

.temp {
    font-weight: 600;
}

